body{
	font-family: 'Fjalla One', sans-serif;
}

header{
	width: 100%;
	background-image: url(imagens/fundo-header.png);
	background-repeat: repeat;
	padding: 1em 0;
}

.caixa-header{
	width: 60%;
	margin: 0 auto;
	/*border: 1px solid darkred;*/
}

.logo-header{
	display: block;
	width: 200px;
	margin: 0 auto;
	padding: 1% 0 2% 0;
	transition: 1s all;
	/*border: 1px solid red;*/
}

.logo-header:hover{
	transform: scale(1.1);
}

/* MENU SUPERIOR */
.nav-box{
	margin: auto 0;
	text-align: center;
	/*border: 1px solid red;*/
}

nav li{
	display: inline-block;
	cursor: pointer;
	margin: 0.5em;
}

nav a{
	margin: 0.5em 3em;
	padding: 0.40em 1em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #1B1C1C;
	font-weight: bold;
	font-size: 1.25em;
	transition: 1.5s all;
	/*border: 1px dotted red;*/
	border-radius: 20px;
}

nav a:hover{
	background: #1B1C1C;
	color: #E8E7E7;
}

.mark-a{
	background: #1B1C1C;
	color: #E8E7E7;
}

/* CONTEUDO PRINCIPAL */

main{
	width: 100%;
	background: #8dd5ec;
	/*border: 1px solid red;*/
}

/* BOX DA IMAGEM */
.caixa-main{
	width: 60%;
	margin: 0 auto;
	/*border: 1px solid red;*/
}

.div-img1 img{
	margin: 0  auto;
	width: 100%;
}

.div-img1 p{
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
	padding: 1em;
}

.player-index{
	margin: 0 auto;
	display: block;
	width: 80%;
}

/* BOX DO VIDEO */
.secao-video{
	width: 100%;
	background: linear-gradient(#8dd5ec, #8381bd, #575959);
	/*border: 1px solid red;*/
}

.video1{
	margin: 0 auto;
	padding: 6em 0 6em 0;
	width: 60%;
	text-align: center;
}

.video1 iframe{
	width: 100%;
}


/* CABEÇALHO */

footer{
	background-image: url("imagens/bg-footer.png");
	text-align: center;
}

footer img{
	width: 10%;
	padding: 1em;
}

.copyright{
	padding: 0 0 1em 0;
	font-size: 0.75em;
	color: #8dd5ec;
	text-transform: uppercase;
}

/*----------------------------------------------------------------------------------*/
/* conteúdo da página MERCH */

.caixa-main-merch{
	background: #8dd5ec;
	width: 100%;
	margin: 0 auto;
}

.section1-merch{
	background-color: #8dd5ec;
	width: 80%;
	margin: 0 auto;
	padding: 5em 0 5em 0;
	/*border: 1px solid red;*/
}


.div-product{
	width: 18%;
	padding: 1%;
	margin: 0 2% 0 2%;
	background: #1B1C1C;
	border-radius: 5px 5px 20px 20px;
	display: inline-block;
	/*border: 1px dotted; darkblue;*/
}
.div-product a img{
	width: 100%;
}
.div-product p{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	color: #E8E7E7;
	padding-top: 0.5em;
}
.div-product p:last-child{
	font-size: 0.8em;
}

/*----------------------------------------------------------------------------------*/
/* PÁGINA - TOUR


