body{
	font-family: 'Fjalla One', sans-serif;
}

header{
	width: 100%;
	background-image: url(imagens/fundo-header.png);
	background-repeat: repeat;
	padding: 1em 0;
}

.caixa-header{
	width: 60%;
	margin: 0 auto;
	/*border: 1px solid darkred;*/
}

.logo-header{
	display: block;
	width: 35%;
	margin: 0 auto;
	padding: 1% 0 5% 0;
	transition: 1s all;
	/*border: 1px solid red;*/
}

.logo-header:hover{
	transform: scale(1.1);
}

/* MENU SUPERIOR */
.nav-box{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	/*border: 1px solid red;*/
}

nav li{
	display: inline-block;
	cursor: pointer;
	margin: 0.5em;
}

nav a{
	margin: 1em 3em;
	padding: 0.30em 1em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #1B1C1C;
	font-weight: bold;
	font-size: 1.25em;
	transition: 1.5s all;
	border-radius: 20px;
	/*border: 1px dotted red;*/
}

nav a:hover{
	background: #1B1C1C;
	color: #E8E7E7;
}

.mark-a{
	background: #1B1C1C;
	color: #E8E7E7;
}

/* CONTEUDO PRINCIPAL */

main{
	width: 100%;
	background: #8dd5ec;
	/*border: 1px solid red;*/
}

/* BOX DA IMAGEM */
.caixa-main{
	width: 60%;
	margin: 0 auto;
	/*border: 1px solid red;*/
}

.div-img1 img{
	margin: 0  auto;
	width: 100%;
}

.div-img1 p{
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
	padding: 1em;
}

.player-index{
	margin: 0 auto;
	display: block;
	width: 80%;
}

/* BOX DO VIDEO */
.secao-video{
	width: 100%;
	background: linear-gradient(#8dd5ec, #8381bd, #575959);
	/*border: 1px solid red;*/
}

.video1{
	margin: 0 auto;
	padding: 6em 0 6em 0;
	width: 60%;
	text-align: center;
}

.video1 iframe{
	width: 100%;
}


/* CABEÇALHO */

footer{
	background-image: url("imagens/bg-footer.png");
	text-align: center;
}

footer img{
	width: 10%;
	padding: 1em;
}

.copyright{
	padding: 0 0 1em 0;
	font-size: 0.75em;
	color: #8dd5ec;
	text-transform: uppercase;
}

@media screen and (max-width: 480px){
	.logo-header{
		width: 180px;
	}
	nav a{
		font-size: 1em;
	}
	.video1 iframe{
		width: 100%;
		height: 60%;
	}
}
/*----------------------------------------------------------------------------------*/
/* conteúdo da página MERCH */
.caixa-main-merch{
	background: #8dd5ec;
	width: 100%;
	margin: 0 auto;
}
.section1-merch{
	background-color: #8dd5ec;
	width: 80%;
	margin: 0 auto;
	padding: 5em 0 5em 0;
	/*border: 1px solid red;*/
}
.div-product{
	width: 18%;
	padding: 1%;
	margin: 0 2% 0 2%;
	background: #1B1C1C;
	border-radius: 5px 5px 20px 20px;
	display: inline-block;
	transition: 250ms;
	/*border: 1px dotted; darkblue;*/
}
.div-product:hover{
	transform: scale(1.1);
}
.div-product a img{
	width: 100%;
}
.div-product p{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	color: #E8E7E7;
	padding-top: 0.5em;
}
.div-product p:last-child{
	font-size: 0.8em;
}

@media screen and (max-width: 480px){
	.div-product{
		border-radius: 5px 5px 8px 8px;
	}
	.div-product p{
		font-size: 0.9em;
	}
	.div-product p:last-child{
		font-size: 0.7em;
	}
}
/*----------------------------------------------------------------------------------*/
/* PÁGINA - TOUR */

.table-box{
	width: 80%;
	margin: 0 auto;
	/*border: 1px solid red;*/
}
.table-attributes{
	width: 100%;
	margin: 0 auto;
	/*border: 1px solid darkred;*/
}
.table-attributes th{
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
	padding: 3% 0;
	border-left: 1px solid #E8E7E7;
	border-right: 1px solid #E8E7E7;
	color: #1B1C1C;
}
.table-attributes td{
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
	padding: 2% 0;
	border-left: 1px solid #E8E7E7;
	border-right: 1px solid #E8E7E7;
	color: #1B1C1C;
}

.table-attributes tr td:last-child:hover{
	background: #E8E7E7;
}

td a{
	text-decoration: none;
	color: #1B1C1C;
}

#main-tour{
	background: linear-gradient(#8dd5ec, #8381BD);
}

@media screen and (max-width: 480px){
	.table-attributes th{
		font-size: 0.9em;
	}
	.table-attributes td{
		font-size: 0.7em;
	}
}
/*-----------------------------------------------------------------------------------*/
/* PÁGINA VÍDEOS */

.main-section__videos{
	margin: 0 auto;
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	/*border: 1px solid red;*/
}

.main-section__videos iframe{
	box-shadow: 5px 5px #1B1C1C;
	margin: 5% 0 5% 0;
	/*padding: 5% 0 5% 0;*/
}


